## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'
application_df = application_df.drop(columns=['EIN', 'NAME'])

# Display the first few rows to confirm the columns were dropped
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
# Display the number of unique values in each column
unique_values = application_df.nunique()
unique_values

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [7]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
# View the value counts for the APPLICATION_TYPE column
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()
print(application_type_counts)
# Determine which application types to replace with "Other"
application_types_to_replace = application_type_counts[application_type_counts < 500].index

# Replace in DataFrame
application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(application_types_to_replace, 'Other')

# Confirm replacement
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [8]:
# Set the cutoff value and identify application types to replace
cutoff_value = 500
application_types_to_replace = application_df['APPLICATION_TYPE'].value_counts()[application_df['APPLICATION_TYPE'].value_counts() < cutoff_value].index.tolist()

# Replace application types in the DataFrame
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app, "Other")

# Verify the replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [10]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
# View the value counts for the CLASSIFICATION column
classification_counts = application_df['CLASSIFICATION'].value_counts()
print(classification_counts)
# Set the cutoff value and identify classifications to replace
cutoff_value = 1000
classifications_to_replace = classification_counts[classification_counts < cutoff_value].index

# Replace classifications in the DataFrame
application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(classifications_to_replace, "Other")

# Verify the replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [11]:
# Display the value counts for CLASSIFICATION where the count is greater than 1
classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts[classification_counts > 1]

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [13]:
# Set the cutoff value and identify classifications to replace
cutoff_value = 1000
classifications_to_replace = classification_counts[classification_counts < cutoff_value].index.tolist()

# Replace classifications in the DataFrame
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls, "Other")

# Verify the replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [14]:
# Convert categorical data to numeric using one-hot encoding
application_df = pd.get_dummies(application_df)

# Display the first few rows to confirm the conversion
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1,108590,1,False,False,False,True,False,False,False,...,True,False,False,False,False,False,False,False,True,False
2,1,5000,0,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False
3,1,6692,1,False,False,False,True,False,False,False,...,False,True,False,False,False,False,False,False,True,False
4,1,142590,1,False,False,False,True,False,False,False,...,False,False,True,False,False,False,False,False,True,False

In [15]:
# Define target and features
X = application_df.drop(columns=['IS_SUCCESSFUL']).values  # Features (drop the target column)
y = application_df['IS_SUCCESSFUL'].values  # Target

# Split the data into training and testing sets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [16]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [17]:
import tensorflow as tf

# Define the model - deep neural net, including the number of input features and hidden nodes for each layer
input_features = X_train_scaled.shape[1]

# Instantiate the Sequential model
nn = tf.keras.models.Sequential()

# First hidden layer with 80 nodes and ReLU activation function
nn.add(tf.keras.layers.Dense(units=80, activation='relu', input_dim=input_features))

# Second hidden layer with 30 nodes and ReLU activation function
nn.add(tf.keras.layers.Dense(units=30, activation='relu'))

# Output layer with one neuron and sigmoid activation function for binary classification
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

c:\Users\mason\anaconda\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 80)             │         3,520 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 30)             │         2,430 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │            31 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 5,981 (23.36 KB)

 Trainable params: 5,981 (23.36 KB)

 Non-trainable params: 0 (0.00 B)

In [18]:
# Compile the model
nn.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [19]:
# Train the model
# Train the model
history = nn.fit(X_train_scaled, y_train, epochs=100, validation_data=(X_test_scaled, y_test))

Epoch 1/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 2s 1ms/step - accuracy: 0.6975 - loss: 0.5906 - val_accuracy: 0.7235 - val_loss: 0.5670
Epoch 2/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7282 - loss: 0.5564 - val_accuracy: 0.7206 - val_loss: 0.5614
Epoch 3/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 963us/step - accuracy: 0.7270 - loss: 0.5523 - val_accuracy: 0.7280 - val_loss: 0.5606
Epoch 4/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 987us/step - accuracy: 0.7283 - loss: 0.5520 - val_accuracy: 0.7223 - val_loss: 0.5630
Epoch 5/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 988us/step - accuracy: 0.7280 - loss: 0.5537 - val_accuracy: 0.7259 - val_loss: 0.5595
Epoch 6/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7291 - loss: 0.5505 - val_accuracy: 0.7252 - val_loss: 0.5580
Epoch 7/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7309 - loss: 0.5479 - val_accuracy: 0.7273 - val_loss: 0.5563
Epoch 8/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7423 - loss: 0.5395 - val_accuracy: 0.7246 - val_loss: 0.5571
Epoch 9/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7323 - loss: 0.5459 - val_accuracy: 0.7265 - val_loss: 0.5567
Epoch 10/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7311 - loss: 0.5485 - val_accuracy: 0.7290 - val_loss: 0.5578
Epoch 11/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7359 - loss: 0.5432 - val_accuracy: 0.7280 - val_loss: 0.5574
Epoch 12/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 988us/step - accuracy: 0.7420 - loss: 0.5341 - val_accuracy: 0.7289 - val_loss: 0.5574
Epoch 13/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 976us/step - accuracy: 0.7336 - loss: 0.5432 - val_accuracy: 0.7262 - val_loss: 0.5571
Epoch 14/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 953us/step - accuracy: 0.7319 - loss: 0.5458 - val_accuracy: 0.7292 - val_loss: 0.5572
Epoch 15/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 930us/step - accuracy: 0.7368 - loss: 0.5421 - val_accuracy: 0.7246 - val_loss: 0.5591
Epoch 16/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 997us/step - accuracy: 0.7347 - loss: 0.5434 - val_accuracy: 0.7222 - val_loss: 0.5592
Epoch 17/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7406 - loss: 0.5392 - val_accuracy: 0.7254 - val_loss: 0.5585
Epoch 18/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7372 - loss: 0.5394 - val_accuracy: 0.7259 - val_loss: 0.5573
Epoch 19/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7343 - loss: 0.5453 - val_accuracy: 0.7248 - val_loss: 0.5569
Epoch 20/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 963us/step - accuracy: 0.7362 - loss: 0.5391 - val_accuracy: 0.7278 - val_loss: 0.5585
Epoch 21/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7363 - loss: 0.5417 - val_accuracy: 0.7270 - val_loss: 0.5583
Epoch 22/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7401 - loss: 0.5397 - val_accuracy: 0.7277 - val_loss: 0.5599
Epoch 23/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 992us/step - accuracy: 0.7342 - loss: 0.5425 - val_accuracy: 0.7248 - val_loss: 0.5579
Epoch 24/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 1000us/step - accuracy: 0.7360 - loss: 0.5397 - val_accuracy: 0.7265 - val_loss: 0.5572
Epoch 25/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 974us/step - accuracy: 0.7412 - loss: 0.5352 - val_accuracy: 0.7251 - val_loss: 0.5585
Epoch 26/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7333 - loss: 0.5408 - val_accuracy: 0.7224 - val_loss: 0.5607
Epoch 27/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7362 - loss: 0.5373 - val_accuracy: 0.7257 - val_loss: 0.5610
Epoch 28/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 970us/step - accuracy: 0.7377 - loss: 0.5386 - val_accuracy: 0.7265 - val_loss: 0.5585
Epoch 29/100
635/858 ━━━━━━━━━━━━━━━━━━━━ 0s 876us/step - accuracy: 0.7444 - loss: 0.5329

KeyboardInterrupt:

In [20]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

215/215 - 0s - 675us/step - accuracy: 0.7229 - loss: 0.5611
Loss: 0.5610727667808533, Accuracy: 0.722886323928833

In [21]:
# Export our model to HDF5 file
# Export the model to an HDF5 file
nn.save("AlphabetSoupCharity.h5")

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.